---
import Layout from '../layouts/Layout.astro';
---

<Layout title="cinema cabbage">
	<div class="background-container">
		<h1><a href="/manifest" style="color: inherit; text-decoration: none;">Welcome</a></h1>
	</div>
</Layout>
